.container h1 {
  text-align: center;
}

.container .row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .row .card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 30%;
  padding: 10px;
  margin: 10px;
}

.container .row .card:hover {
  background-color: #cccaca;
  z-index: 1;
}

.container .row .card p {
  font-family: "Roboto", sans-serif;
  line-height: 18px;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.container .row .card img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  border-radius: 5px;
}

.container .row .card img:hover {
  background-color: black;
  z-index: 1;
}

.container .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .upper .sectiontitle {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.container .upper .sectiontitle span {
  font-weight: 700;
}

.container .upper .button {
  background: #163e61;
  color: #fff;
  padding: 13px 45px 15px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container .upper .button:hover {
  background-color: #fd7e14;
}

.section3 {
  margin-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #f3f3f3;
}

.section3 .wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .wrap .left {
  width: 47%;
}

.section3 .wrap .left img {
  width: 100%;
  border-radius: 10px;
}

.section3 .wrap .right {
  width: 47%;
}

.section3 .wrap .right .title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 300;
}

.section3 .wrap .right .title span {
  font-weight: 700;
}

.section3 .wrap .right .paragraph {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.section3 .wrap .right a {
  background-color: #163e61;
  padding: 15px 35px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  width: 35%;
}

.section3 .wrap .right a i {
  margin-left: 13px;
  color: #fff;
}

.section4 {
  margin-top: 100px;
}

.section4 .background {
  background-color: #161761;
  height: 300px;
}

.section4 .title {
  line-height: 30px;
  padding: 30px;
  text-align: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
}

.section4 .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section4 .wrap .card {
  max-width: 25%;
  padding: 10px;
  margin: 10px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.section4 .wrap .card:hover {
  background-color: #b6b0b9;
  z-index: 1;
}

.section4 .wrap .card p {
  font-size: 15.6px;
  font-family: "Roboto", sans-serif;
  margin-top: 15px;
  text-align: center;
}

.vision {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f3f3f3;
}

.vision .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vision .wrap .card1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.vision .wrap .card1 .left img {
  width: 50px;
  height: auto;
}

.vision .wrap .card1 .right {
  margin-left: 15px;
}

.vision .wrap .card1 .right .title {
  color: #163e61;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.vision .wrap .card1 .right p {
  font-size: 13px;
  line-height: 25px;
}

.testimonials {
  background: #c83431;
  height: 280px;
  padding-top: 50px;
}

.testimonials .title {
  text-align: center;
  color: #fff;
  font-size: 32px;
}
/*# sourceMappingURL=style.css.map */